*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: none;
}

.body {
  font-family: 'Montserrat', sans-serif;
  background-color: $black;
  color: $white;
  margin: 0;
  padding: 0;
  overflow-x: hidden;

}
.background-gradient{
  background-image: url("../images/Desktop.jpg") ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#parallaxCanvas{
  width: 100%;
  z-index: 100;
  height: 100%;
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//canvas {
//  width: 100%;
//  //height: 100vh;
//  display: block;
//  background: $black;
//  background-position: center;
//  background-size: cover !important;
//}
//canvas {
//  position: absolute;
//
//  top: 50%;
//  left: 50%;
//  transform: translate(-50%, -50%);
//
//}



::selection {
  background-color: transparent;
  color: $white;
}

img {
  display: block;
  height: auto;
}

html {
  scroll-behavior: smooth;
}

.list {
  list-style: none;
  margin: 0;
}

.link {
  text-decoration: none;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

a {
  color: #000;
  cursor: pointer;
  text-decoration: none;
}

.button{
  cursor: pointer;
  border: none;
  display: block;
}


.container {
  padding: 0 16px;
  margin: auto;
  width: 100%;
  position: relative;
}

.section-caption{
  display: flex;
  gap: 4px;
  align-items: center;
}

.number-section{
  font-size: 12px;
  font-weight: 700;
  border-radius: 24px;
  border: 2px solid #FDF9F9;
  padding: 10px 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
}
.number-name{
  border-radius: 24px;
  background-color: $blue;
  font-size: 12px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 24px;
}


//canvas {
//  width: 100%;
//  //height: 100vh;
//  display: block;
//  background: $black;
//  background-position: center;
//  background-size: cover !important;
//}
//canvas {
//  position: absolute;
//  z-index: -1;
//  top: 50%;
//  left: 50%;
//  transform: translate(-50%, -50%);
//  width: 100%;
//  height: 100%;
//}

.violet{
  background-color: $violet;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: $violet;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background: $grey;
}


.cursor{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  transform: scale(1);
  background-color: white;
  mix-blend-mode: difference;
  transition-timing-function: ease-out;
  transition-duration: 50ms;
  z-index: 999;
}

.cursor2{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  transform: scale(3);
  background-color: rgba(140, 15, 239, 0.50);
  opacity: 0.5;
  transition-timing-function: ease-out;
  transition-duration: 200ms;
}

a,button{
  z-index: 1000;
}

