@media screen and (min-width: 768px) {

  .number-section{
    font-size: 18px;
    padding: 10px 18px;
    width: 77px;
    margin: 0 0 0 18px;
  }
  .number-name{
    font-size: 18px;
    width: 160px;
  }

  .hero{
    padding: 10px 0 58px 0;
    &-inner{
      &__title {
        font-size: 96px;
        margin: 128px 0 16px 0;
      }
      &__caption{
        font-size: 24px;
        margin:0 20px 128px 20px;
      }
      &__btn{
        padding: 18px;
        width: 280px;
        font-size: 22px;
      }
    }
  }
  .hero-btn-1{
    margin: 0 0 18px 0;
  }

  .title-descr{
    &__inner{
      font-size: 64px;
      padding: 100px 0;
      &-decor-1{
        top: 23px;
        left: 7px;
        width: 107px;
      }
      &-decor-2{
        bottom: 63px;
        right: 85px;
        width: 75px;
      }
    }

  }

  .advantages{
    margin: 0 0 105px 0;
    &-inner{
      &__list{
        margin: 40px 0 0 0;
        gap: 32px;
        &-item{
          width: 502px !important;
          height: 462px !important;
          padding: 100px 57px;
          &-num{
            font-size: 64px;
          }
          &-title{
            font-size: 45px;
            margin: 0 0 32px 0;
          }
          &-descr{
            font-size: 20px;
          }
        }
      }
    }
  }

  .work-stages-number-name{
    width: 170px;;
  }

  .work-stages{
    padding: 40px 0;
    &-inner{

      &__list{
        display: flex;
        flex-wrap: wrap;
        gap: 100px 60px;
        margin:40px 0;
        &-item{
          margin: 0;
          width: 305px;
          &-num{
            font-size: 45px;
          }
          &-title{
            font-size: 32px;
            padding: 24px 0;
          }
          &-descr{
            font-size: 16px;
          }
          &-content{
            width: 305px;
          }
        }
      }
    }

  }
  ul#swiper-wrapper-9ebfcd98b84a9c98 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 60px 94px;
  }
  li.work-stages-inner__list-item.swiper-slide {
    width: 305px !important;
  }

  .services{
    margin: 64px 0;
    padding: 0 0 20px 0;
    &-inner{
      margin: 64px 0;

      &__content{
        margin: 0 0 64px 0;
        &-box{
          display: flex;
          gap: 40px;
          align-items: center;
        }
        &-box-2{
          display: flex;
          flex-direction: column;
          gap: 32px;
          align-items: flex-start;
        }
        &-box-3{
          justify-content: flex-end;
        }


        &-title{
          font-size: 64px;
          margin: 0;
        }
        &-descr{
          font-size: 20px;
        }
        &-descr-3{
          width: 281px;
        }
      }
      &__content-2{
        padding: 85px 0;
      }
    }
  }

  .services-inner__content-3{
    position: relative;
  }

  img.services-inner__content-decor-2 {
    position: absolute;
    z-index: -1;
    left: 0;
    top: -90px;
    display: block;
  }

  .portfolio{
    &-inner{
      gap: 80px;
      &__project-opt {
        margin: 24px 0 0 0;
      }
      &__img{
        width: 100%;
        height: 542px;
      }
      &__project-name {
        font-size: 48px;
      }

      &-btn{
        font-size: 22px;
        padding: 20px 77px;
        width: 280px;
      }
      &__project-arrow {
        width: 84px;
        height: 84px;
      }
    }
  }

  .reviews-inner__list{
    display: flex;
    flex-direction: row;
  }
  .reviews-inner__list-item{
    height: auto !important;
    padding: 53px 95px;
  }
  .reviews-inner__list-item-descr {
    margin: 0 0 20px 0;
    font-size: 20px;
  }
  .reviews-inner__list-item-r{
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
  }
  a.reviews-inner__list-item-btn {
    width: fit-content;
  }

  .technologies{
    margin: 84px 0;
    &-inner{
      padding: 64px 0;
      &__list{
        display: flex;
        align-items: center;
        gap: 50px;
        &-item-img {
          width: 110px;
        }
      }
    }
  }

  .contact{
    margin: 64px 0;
    &-inner{
      margin: 64px 0;
      &__form-wrap{
        background-position-y: 36px;
        padding: 64px;
        background-size: 633px;
        &-title{
          font-size: 64px;
        }
        &-descr{
          font-size: 16px;
          margin: 0 0 56px 0;
        }
        &-box{
          margin: 0 0 16px 0;
        }
        &-input{
          padding: 17px 16px;
          margin: 0 0 5px 0;
        }
        &-textarea{
          height: 190px;
        }
        &-btn{
          font-size: 22px;
          width: 280px;
          margin: auto;
        }
      }
    }
  }
}

@media screen and (min-width: 1240px) {
  .number-section{
    font-size: 20px;
    width: 77px;
  }
  .number-name{
    font-size: 20px;
    width: 160px;
  }


  .hero{
    padding: 64px 0 100px 0;
    &-inner{
      &__title {
        font-size: 100px;
        margin: 80px 0 24px 0;
      }
      &__caption{
        margin:0 28px 80px 28px;
        width: 803px;
      }
      &__btn{
        padding: 18px;
        width: 280px;
        font-size: 22px;
      }
    }
  }
  .hero-btn-1{
    margin: 0;
  }
  .hero-btns{
    gap: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }

  .title-descr{
    margin: 100px 0 ;
    &__inner{
      font-size: 80px;
      padding: 87px 0 20px 26px;
      &-decor-1{
        top: 0;
        left: 7px;
        width: 125px;
      }
      &-decor-2{
        bottom: 0;
        right: 72%;
      }
    }

  }

  .advantages{
    margin: 0 0 105px 0;
    &-inner{
      &__list{
        margin: 64px 0 0 0;
        gap: 32px;
        &-item{
          width: 550px !important;
          height: 525px !important;
          &-num{
            font-size: 80px;
          }
          &-descr{
            font-size: 24px;
          }
        }
      }
    }
  }
  .work-stages-number-name{
    width: 180px;;
  }
  .work-stages{
    padding: 40px 0;
    &-inner{

      &__list{
        flex-wrap: nowrap;
        gap: 100px 60px;
        margin:40px 0;
        &-item{
          margin: 0;
          width: 305px;
          &-num{
            font-size: 45px;
          }
          &-title{
            font-size: 32px;
            padding: 24px 0;
          }
          &-descr{
            font-size: 16px;
          }
          &-content{
            width: 305px;
          }
        }
      }
    }

  }

  ul#swiper-wrapper-9ebfcd98b84a9c98 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 60px 50px;
  }
  li.work-stages-inner__list-item.swiper-slide {
    width: 305px !important;
  }

  .work-stages-inner__list-item-title {
    font-size: 25px;
    padding: 14px 0;
  }
  .work-stages-inner__list-item-num {
    font-size: 35px;
  }
  .work-stages-inner__list-item {
    width: 255px;
  }
  .work-stages-inner__list-item-descr {
    width: 255px;
  }
  .work-stages-inner__list-item-title {
    width: 255px;
  }
  .work-stages-inner__list-item-content {
    width: 255px;
  }


  .services-inner__content-box {
    display: flex;
    gap: 64px;
    flex-direction: row;
  }
  .services-inner__content-box-2 {
    justify-content: flex-end;
  }
  .services-inner__content-descr-1 {
    width: 588px;
  }
  .services-inner__content-descr-2 {
    width: 500px;
  }
  .services-inner__content-descr-3 {
    width: 380px;
  }
  img.services-inner__content-decor-1 {
    position: absolute;
    z-index: -1;
    right: 0;
    top: -90px;
    display: block;
    width: 285px;
  }

  .services {
    padding: 0 0 104px 0;
  }

  .portfolio{
    &-inner{
      gap: 64px;
      padding: 64px 0;
      &__project{
        display: flex;
        flex-direction: row-reverse;
      }
      &__img {
        width: 785px;
        height: 720px;
      }
      &__project-opt {
        display: flex;
        justify-content: space-between;
        width: 558px;
        margin: 0 20px 0 0;
        flex-direction: column;
        align-items: flex-start;
      }

      &-btn{
        font-size: 22px;
        padding: 20px 80px;
        width: 300px;
      }
      &__project-arrow {
        width: 124px;
        height: 124px;
      }
    }
  }


  .reviews-inner__list-item{
    height: auto !important;
    padding: 53px 50px;
  }

  .contact-inner__form-wrap {
    margin: 0 220px;
  }
}
@media screen and (min-width: 1440px) {
  .title-descr__inner-decor-2 {
    bottom: 49px;
    right: 0;
  }

  .work-stages-inner__list {
    gap: 0;
    display: flex;
    justify-content: space-between;
  }


  .services-inner__content-box-2 {
    justify-content: flex-end;
  }
  .services-inner__content-descr-1 {
    width: 588px;
  }
  .services-inner__content-descr-2 {
    width: 590px;
  }
  .services-inner__content-descr-3 {
    width: 728px;
  }
  .services-inner__content-2 {
    padding: 140px 0;
  }

  .portfolio{
    &-inner{
      gap: 32px;
      &__project{
        justify-content: space-between;
      }
      &__img {
        width: 1000px;
      }
      &__project-opt {
        margin: 0 40px 0 0;
      }
    }
  }
  .contact-inner__form-wrap {
    margin: 0 320px;
  }

}

@media screen and (min-width: 1920px) {
  .hero{
    padding: 64px 0 100px 0;
    &-inner{
      &__title {
        font-size: 128px;
        margin: 144px 0 24px 147px;
      }
      &__caption{
        margin:0 28px 152px 202px;
      }
    }
  }
  .work-stages{
    padding: 100px 0;
    &-inner{
      &__list{
        flex-wrap: nowrap;
        gap: 79px !important;
        margin:64px 0;
        &-item{
          width: 380px !important;
          &-title{
            font-size: 44px;
            padding: 64px 0 32px 0;
            width: 100%;
          }
          &-descr{
            font-size: 22px;
            width: 100%;
          }
          &-content{
            width: 100%;
          }
        }
      }
    }

  }
  .title-descr__inner-decor-2 {
    bottom: -10px;
    right: 10%;
  }


  .services-inner__content-box-2 {
    justify-content: flex-end;
  }
  .services-inner__content-descr-1 {
    width: 588px;
  }
  .services-inner__content-descr-2 {
    width: 653px;
  }
  .services-inner__content-descr-3 {
    width: 728px;
  }
  .services-inner__content-title {
    font-size: 100px;
  }
  .services-inner__content-box {
    padding: 115px 0;
  }

  img.services-inner__content-decor-2 {
    top: 0;
  }
  img.services-inner__content-decor-1 {
    right: 0;
    top: 0;
    width: 380px;
  }

  .technologies{
    margin: 84px 0;
    &-inner{
      padding: 64px 0;
      &__list{
        display: flex;
        align-items: center;
        gap: 55px !important;
        &-item{
          width: 110px !important;
        }
        &-item-img {
          width: 110px;
        }
      }
    }
  }
  .contact{
    margin: 64px 0;
    &-inner{
      margin: 64px 0;
      &__form-wrap{
        background-position-y: 36px;
        padding: 115px;
        background-size: 1050px;
        margin: 0 200px;
        &-title{
          font-size: 100px;
          margin: 0 0 42px 0;
        }
        &-descr{
          font-size: 22px;
          margin: 0 0 100px 0;
        }
        &-box{
          margin: 0 0 20px 0;
        }
        &-input{
          padding: 25px 17px;
          margin: 0 0 10px 0;
          font-size: 28px;
        }
        &-btn{
          font-size: 25px;
          width: 315px;
          padding: 22px;
        }
      }
    }
  }
  .contact-inner__form-wrap-input::placeholder{
    font-size: 22px;
  }
}