.hero{
  padding: 17px 0 50px 0;
  &-inner{
    &__title {
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 2.88px;
    text-transform: uppercase;
    margin: 80px 0 16px 0;
    }
    &__caption{
      font-family: Poppins,sans-serif;
      font-size: 16px;
      font-weight: 500;
      margin:0 10px 80px 10px;
    }
    &__btn{
      border-radius: 32px;
      background-color: #FDF9F9;
      padding: 10px;
      width: 200px;
      text-align: center;
      font-family: Montserrat,sans-serif;
      font-size: 16px;
      font-weight: 700;
    }
  }
}

.hero-btns{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.hero-btn-1{
  margin: 0 0 8px 0;
}
.hero-btn-2{
  color: #FDF9F9;
  border: 3px solid $violet;
  background-color: transparent;
}